h3 {
    margin: 1.5em 0 0.5em 0;
}

table {
    margin-top: 2em;
}

table tr th {
    font-weight: 1000;
}

#redirection {
    margin-top: 2em;
}

#redirection button {
    margin-right: 1em;
}

.acc_unit {
    text-decoration: underline;
}

.zero_tt {
    font-style: italic;
}
