{% include "header.html" %}
{% load static %}

<!-- Page Title --->
<h1>Account {{account.name}}</h1>

<!-- Account Buttons -->
<div id="redirection">
    <a href="{% url 'website-transactions' account=account.unique %}"><button type="button" class="btn btn-outline-secondary">Transactions</button></a>
    <a href="{% url 'website-transfers' account=account.unique %}"><button type="button" class="btn btn-outline-secondary">Transfers</button></a>
    <a href="{% url 'website-importation' account=account.unique %}"><button type="button" class="btn btn-outline-secondary">Import into {{account.name}}</button></a>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Unit</th>
            <th scope="col">Amount</th>
            <th scope="col">TT Transaction In</th>
            <th scope="col">TT Transaction Out</th>
            <th scope="col">TT Transfer In</th>
            <th scope="col">TT Transfer Out</th>
            <th scope="col">TT Fee</th>
        </tr>
    </thead>

    <tbody>
    {% for asset in volume_overview %}
        <tr>
            <th class="{% if asset.7 == 1 %}acc_unit{% endif %} {% if asset.1 == 0 %}zero_tt{% endif %}">{{ asset.0 }}</th>
            <td>{{ asset.1 }}</td>
            <td>{{ asset.2 }}</td>
            <td>{{ asset.3 }}</td>
            <td>{{ asset.4 }}</td>
            <td>{{ asset.5 }}</td>
            <td>{{ asset.6 }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Pair</th>
            <th scope="col">Performance</th>
            <th scope="col">Profit/Loss</th>
            <th scope="col">Average Buy</th>
            <th scope="col">Average Sell</th>
            <th scope="col">Fee</th>
        </tr>
    </thead>

    <tbody>
    {% for asset in pairs_overview %}
        <tr>
            <th>{{ asset.0 }}</th>
            <td>{{ asset.1 }}%</td>
            <td>{{ asset.2 }}</td>
            <td>{{ asset.3 }}</td>
            <td>{{ asset.4 }}</td>
            <td>{{ asset.5 }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% include "footer.html" %}