{% include "header.html" %}
{% load static %}

<!-- Admin Page Link & Title --->
<h1>Account {{account.name}}</h1>

<!-- Acconts Buttons (content at end of page) -->
<div id="redirection">
    <a href="{% url 'website-transactions' account=account.unique %}"><button type="button" class="btn btn-outline-secondary">Transactions</button></a>
    <a href="{% url 'website-transfers' account=account.unique %}"><button type="button" class="btn btn-outline-secondary">Transfers</button></a>
    <a href="{% url 'website-importation' account=account.unique %}"><button type="button" class="btn btn-outline-secondary">Import into {{account.name}}</button></a>
</div>

<!-- List --->
<h3>Assets Overview</h3>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Unit</th> 
            <th scope="col">Amount</th>
            <th scope="col">Performance</th>
            <th scope="col">Profit / Loss</th>
            <th scope="col">Average Buy/Sold Price</th>
            <th scope="col">Unit</th>
        </tr>
    </thead>

    <tbody>
    {% for o in overview %}
        <tr>
            <td>{{o.0}}</td>
            <td>{{o.2.normalize}}</td>
            <td>{{o.3.normalize|floatformat:2}} %</td>
            <td>{{o.4.normalize|floatformat:2}}</td>
            <td>{{o.5.normalize|floatformat:3}} / {{o.6.normalize|floatformat:3}}</td>
            <td>{{o.1}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<!-- List --->
<h3>Volume Overview</h3>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Unit</th> 
            <th scope="col">[TR] Volume In</th>
            <th scope="col">[TR] Volume Out</th>
            <th scope="col">[TR] Fee Volume</th>
            <th scope="col">[TF] Volume In</th>
            <th scope="col">[TF] Volume Out</th>
            <th scope="col">[TF] Fee Volume</th>
        </tr>
    </thead>

    <tbody>
    {% for d in data %}
        <tr>
            <td>{{d.0}}</td>
            <td>{{d.2.normalize}}</td>
            <td>{{d.3.normalize}}</td>
            <td>{{d.6.normalize}}</td>
            <td>{{d.8.normalize}}</td>
            <td>{{d.9.normalize}}</td>
            <td>{{d.11.normalize}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% include "footer.html" %}