{% include "header.html" %}
{% load static %}

<div class="accordion-item">
    <h2 class="accordion-header" id="h1">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c1" aria-expanded="true" aria-controls="c1">
            Accounts
        </button>
    </h2>
    <div id="c1" class="accordion-collapse collapse" aria-labelledby="h1" data-bs-parent="#accordion">
        <div class="accordion-body">
            <p>[...]</p>
        </div>
    </div>
</div>

<div class="accordion-item">
    <h2 class="accordion-header" id="h2">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c2" aria-expanded="true" aria-controls="c2">
            Transactions
        </button>
    </h2>
    <div id="c2" class="accordion-collapse collapse" aria-labelledby="h2" data-bs-parent="#accordion">
        <div class="accordion-body">
            <p>[...]</p>
        </div>
    </div>
</div>

<div class="accordion-item">
    <h2 class="accordion-header" id="h3">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c3" aria-expanded="true" aria-controls="c3">
            Transfers
        </button>
    </h2>
    <div id="c3" class="accordion-collapse collapse" aria-labelledby="h3" data-bs-parent="#accordion">
        <div class="accordion-body">
            <p>[...]</p>
        </div>
    </div>
</div>

<div class="accordion-item">
    <h2 class="accordion-header" id="h4">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c4" aria-expanded="true" aria-controls="c4">
            Importation
        </button>
    </h2>
    <div id="c4" class="accordion-collapse collapse" aria-labelledby="4" data-bs-parent="#accordion">
        <div class="accordion-body">
            <p>[...]</p>
        </div>
    </div>
</div>

{% include "footer.html" %}