{% include "header.html" %}
{% load static %}

<h1>Importations for <a href="{% url 'website-account' name=account.unique %}">{{account.name}}</a></h1>

<datalist id="type-list">
    {% for t in tr_types %}
        <option value="{{t.name}}">{{t.name}}</option>
    {% endfor %}
</datalist>

<div class="accordion" id="accordion">

    <div class="accordion-item">
        <h2 class="accordion-header" id="h_ffts">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c_ffts" aria-expanded="true" aria-controls="c_ffts">
                FFTS / Basic CSV
            </button>
        </h2>
        <div id="c_ffts" class="accordion-collapse collapse" aria-labelledby="h_ffts" data-bs-parent="#accordion">
            <div class="accordion-body">
                <form action="{% url 'website-importation' account=account.unique %}" method="POST" enctype="multipart/form-data">
                    <div class="form-floating mb-3">
                        <select class="form-select" id="floatingSelect" name="type" required onchange="ffts(event)">
                            <option value="Transactions">Transactions</option>
                            <option value="Transfers">Transfers</option>
                        </select>
                        <label for="floatingSelect">Type</label>
                    </div>
                    <div class="form-floating mb-3 fftsTf">
                        <input type="text" class="form-control" name="oldacc">
                        <label for="floatingSelect">Account to be replaced</label>
                    </div>
                    <em>The CSV file must be prepared in a special way for the import. Take a look at the documentation !</em>
                    <div class="form-floating mb-3">
                        <input type="file" name="file" required>
                    </div>
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary" name="import_csv">Import</button>
                </form>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="h_bin">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c_bin" aria-expanded="true" aria-controls="c_bin">
                Binance
            </button>
        </h2>
        <div id="c_bin" class="accordion-collapse collapse" aria-labelledby="h_bin" data-bs-parent="#accordion">
            <div class="accordion-body">
                <form action="{% url 'website-importation' account=account.unique %}" method="POST" enctype="multipart/form-data">
                    <div class="form-floating mb-3">
                        <select class="form-select" id="floatingSelect" name="type" required onchange="binance(event)">
                            <option value="Transactions">Transactions</option>
                            <option value="CryptoDeposit">Crypto Deposit</option>
                            <option value="CryptoWithdrawal">Crypto Withdrawal</option>
                            <option value="FiatDeposit">Fiat Deposit</option>
                            <option value="FiatWithdrawal">Fiat Withdrawal</option>
                            <option value="OtherBnb">PoS/Savings Interests & Small BNB Conversions</option>
                            <option value="Other">PoS/Savings Interests Only</option>
                            <option value="BnbHtml">BNB Conversions (HTML Extract)</option>
                        </select>
                        <label for="floatingSelect">Type</label>
                    </div>
                    <div class="form-floating mb-3 binanceTa">
                        <input type="text" class="form-control" id="floatingInput" name="tr_type" list="type-list">
                        <label for="floatingInput">Transaction Type</label>
                    </div>
                    <div class="form-floating mb-3 binanceTf">
                        <select class="form-select" id="floatingSelect" name="ac_type" required>
                            <option value="Manual">Manual (Crypto Only)</option>
                            {% for a in accounts %}
                                <option value="{{a.unique}}">{{a.name}}</option>
                            {% endfor %}
                        </select>
                        <label for="floatingSelect">Deposit/Withdrawal Account Linked</label>
                    </div>
                    <em>The CSV file must be prepared in a special way for the import. Take a look at the documentation !</em>
                    <div class="form-floating mb-3">
                        <input type="file" name="file" required>
                    </div>
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary" name="import_binance">Import</button>
                </form>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="h_degi">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c_degi" aria-expanded="true" aria-controls="c_degi">
                Degiro
            </button>
        </h2>
        <div id="c_degi" class="accordion-collapse collapse" aria-labelledby="h_degi" data-bs-parent="#accordion">
            <div class="accordion-body">
                <form action="{% url 'website-importation' account=account.unique %}" method="POST" enctype="multipart/form-data">
                    <div class="form-floating mb-3">
                        <select class="form-select" id="floatingSelect" name="type" onchange="degiro(event)" required>
                            <option value="Transactions">Transactions</option>
                            <option value="Transfers">Transfers</option>
                        </select>
                        <label for="floatingSelect">Type</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" name="tr_type" list="type-list">
                        <label for="floatingInput">Transaction Type (Change operations for Transfers)</label>
                    </div>
                    <div class="form-floating mb-3 degiroTf">
                        <select class="form-select" id="floatingSelect" name="ac_type" required>
                            {% for a in accounts %}
                                <option value="{{a.unique}}">{{a.name}}</option>
                            {% endfor %}
                        </select>
                        <label for="floatingSelect">Bank Account</label>
                    </div>
                    <em>The CSV file must be prepared in a special way for the import. Take a look at the documentation !</em>
                    <div class="form-floating mb-3">
                        <input type="file" name="file" required>
                    </div>
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary" name="import_degiro">Import</button>
                </form>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="h_estate">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c_estate" aria-expanded="true" aria-controls="c_estate">
                EstateGuru
            </button>
        </h2>
        <div id="c_estate" class="accordion-collapse collapse" aria-labelledby="h_estate" data-bs-parent="#accordion">
            <div class="accordion-body">
                <form action="{% url 'website-importation' account=account.unique %}" method="POST" enctype="multipart/form-data">
                    <div class="form-floating mb-3">
                        <select class="form-select" id="floatingSelect" name="bk_acc" required>
                            {% for a in accounts %}
                                <option value="{{a.unique}}">{{a.name}}</option>
                            {% endfor %}
                        </select>
                        <label for="floatingSelect">Bank Account</label>
                    </div>
                    <em>The CSV file must be prepared in a special way for the import. Take a look at the documentation !</em>
                    <div class="form-floating mb-3">
                        <input type="file" name="file" required>
                    </div>
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary" name="import_estateguru">Import</button>
                </form>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="h_gate">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c_gate" aria-expanded="true" aria-controls="c_gate">
                Gate.io
            </button>
        </h2>
        <div id="c_gate" class="accordion-collapse collapse" aria-labelledby="h_gate" data-bs-parent="#accordion">
            <div class="accordion-body">
                <form action="{% url 'website-importation' account=account.unique %}" method="POST" enctype="multipart/form-data">
                    <div class="form-floating mb-3">
                        <select class="form-select" id="floatingSelect" name="type" required onchange="gateio(event)">
                            <option value="Transactions">Transactions</option>
                            <option value="CryptoDeposit">Crypto Deposit</option>
                            <option value="Dust">Dust (HTML Extract)</option>
                        </select>
                        <label for="floatingSelect">Type</label>
                    </div>
                    <div class="form-floating mb-3 gateioTa">
                        <input type="text" class="form-control" id="floatingInput" name="tr_type" list="type-list">
                        <label for="floatingInput">Transaction Type (Change operations for Transfers)</label>
                    </div>
                    <div class="form-floating mb-3 gateioTf">
                        <select class="form-select" id="floatingSelect" name="ac_type" required>
                            <option value="Manual">Manual (Crypto Only)</option>
                            {% for a in accounts %}
                                <option value="{{a.unique}}">{{a.name}}</option>
                            {% endfor %}
                        </select>
                        <label for="floatingSelect">Deposit/Withdrawal Account Linked</label>
                    </div>
                    <em>The CSV file must be prepared in a special way for the import. Take a look at the documentation !</em>
                    <div class="form-floating mb-3">
                        <input type="file" name="file" required>
                    </div>
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary" name="import_gateio">Import</button>
                </form>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="h_inter">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c_inter" aria-expanded="true" aria-controls="c_inter">
                InteractiveBrokers
            </button>
        </h2>
        <div id="c_inter" class="accordion-collapse collapse" aria-labelledby="h_inter" data-bs-parent="#accordion">
            <div class="accordion-body">
                <form action="{% url 'website-importation' account=account.unique %}" method="POST" enctype="multipart/form-data">
                    <div class="form-floating mb-3">
                        <select class="form-select" id="floatingSelect" name="type" required>
                            <option value="TT">Transactions + Transfers</option>
                        </select>
                        <label for="floatingSelect">Type</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" name="tr_type" list="type-list">
                        <label for="floatingInput">Transaction Type (Change operations for Transfers)</label>
                    </div>
                    <div class="form-floating mb-3">
                        <select class="form-select" id="floatingSelect" name="ac_type_ba">
                            <option value="EMPTY">None</option>
                            {% for a in accounts %}
                                <option value="{{a.unique}}">{{a.name}}</option>
                            {% endfor %}
                        </select>
                        <label for="floatingSelect">Bank Account</label>
                    </div>
                    <div class="form-floating mb-3">
                        <select class="form-select" id="floatingSelect" name="ac_type_ia">
                            <option value="EMPTY">None</option>
                            {% for a in accounts %}
                                <option value="{{a.unique}}">{{a.name}}</option>
                            {% endfor %}
                        </select>
                        <label for="floatingSelect">Internal Account</label>
                    </div>
                    <em>The CSV file must be the activity account in english for the period of time you want. You might have to add your first transfer manually.</em>
                    <div class="form-floating mb-3">
                        <input type="file" name="file" required>
                    </div>
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary" name="import_ib">Import</button>
                </form>
            </div>
        </div>
    </div>

</div>

{% include "footer.html" %}